{% extends 'main/base.html' %}

{% block title %}Актуальные заказы{% endblock %}

{% block content %}
    {% for order in actual_orders %}
        <div class="order">
            <h1>{{order}}</h1>
            <h2>Заказчик: {{order.user.username}}</h2>
            <h2>ФИО: {{order.user.first_name}} {{order.user.last_name}}</h2>
            <h2>Телефон: {{order.phone_number}}</h2>
            <h2>Адрес электронной почты: {{order.email}}</h2>
            <h2>Пожелания пользователя:<br>{{order.description}}</h2>
            <h2>Фото:</h2>
            <img src="{{order.photo.url}}" alt="Фото заказа" width="600px" height="auto">
            <h2>Адрес доставки: {{order.address}}</h2>
        </div>
    {% empty %}
        <h1>На данный момент нет актуальных заказов</h1>
    {% endfor %}
{% endblock %}