{% extends 'main/base.html' %}

{% load static %}

{% block title %}Профиль{% endblock %}

{% block page_header %}
    <h1 style="text-align: center">Профиль пользователя</h1>
{% endblock %}

{% block content %}
    <div class="main_container">
        <div class="profile_container">
            <div class="avatar_container">
                {% if profile.avatar %}
                <img src="{{profile.avatar.url}}" alt="user_avatar" class="avatar_img">
                {% else %}
                    <img src="{% static 'main/images/avatars/void_avatar.jpg' %}" width="300px" alt="">
                {% endif %}
            </div>

            <div class="profile_content_container">
                <h3>{{profile.username}}</h3>
                <h4>Имя: {{profile.first_name}}</h4>
                <h4>Фамилия: {{profile.last_name}}</h4>
                <h4>Email: {{profile.email}}</h4>
                {% if profile.phone_number %}
                    <h4>Номер телефона: {{profile.phone_number}}</h4>
                {% endif %}
                <a href="{% url 'users:edit_profile' %}" class="btn btn-lg btn-success">Редактировать профиль</a>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">

{% endblock %}

